spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/journal_db
    username: dco_user
    password: dco_password
    driver-class-name: org.postgresql.Driver

  liquibase:
    change-log: classpath:db/changelog-master.yaml
    enabled: true

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html

  sql:
    init:
      mode: never

server:
  port: 8080